---
import Heading from '@components/Heading.astro'
import Link from '@components/Link.astro'
import Section from '@components/Section.astro'
import Separator from '@components/Separator.astro'
import StartOfContentAnchor from '@components/StartOfContentAnchor.astro'
import Main from '@layouts/Main.astro'
import { META, SEPARATOR } from '@utils/data'
import { getCollection } from 'astro:content'

import '@styles/landing.scss'

const notes = (await getCollection('notes')) ?? []

const title = 'Notes'
---

<Main fullTitle={title + META.ogTitle} title={title} url="/notes">
  <Section>
    <span class="align-center inline-flex flex-wrap">
      <StartOfContentAnchor />
      <Heading headingLevel={1} id="notes" class="mb-9" title="Notes">
        Notes
      </Heading>

      <span class="ml-4 text-6xl sm:inline-flex"> 📝</span>
    </span>
    <Heading headingLevel={2} id="2023" class="mb-9" title="2023">2023</Heading>
    {
      notes.length > 0 && (
        <ul class="ml-0 list-outside list-none pl-0">
          {(notes ?? []).map((note) => (
            <li class="mb-5">
              <h3 class="small-heading">
                <Link
                  title={note.data.title}
                  analyticsClick={`notes-${note.slug}`}
                  href={`/notes/${note.slug}`}>
                  {note.data.title}
                </Link>
              </h3>

              <p class="dimmed">
                <span>{new Date(note.data.date).toLocaleDateString()}</span>
                {note.data.description && (
                  <>
                    {' '}
                    {SEPARATOR} {note.data.description}
                  </>
                )}
              </p>
            </li>
          ))}
        </ul>
      )
    }
    <Separator />
    <p class="dimmed text-center">A bit empty here... for now. 😉</p>
  </Section>
</Main>
