---
import { META } from '@utils/data'
import { CONFIG } from 'config'

// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  url?: string
  title?: string
  description?: string
  image?: string
}

const {
  title: customTitle,
  description,
  image = '/dolf-barr.png',
  url = '/',
} = Astro.props
const title = customTitle ?? META.title
---

<head>
  <script>
    const isDarkMode = localStorage.getItem('theme') === 'dark'
    isDarkMode && document.documentElement.classList.add('dark')
  </script>

  <title>{title}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content={description ?? META.shortDescription} />
  <meta property="og:type" content={'website'} />
  <meta property="og:title" content={title} />
  <meta property="og:url" content={`${META.siteUrl}${url}`} />
  <meta property="og:site_name" content={title} />
  <meta property="og:description" content={description ?? META.description} />
  <meta property="og:image" content={META.host + image} />
  <meta name="twitter:creator" content={META.twitterUsername} />

  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </noscript>

  <!-- Light Icons -->
  <link
    rel="icon"
    href={`${CONFIG.base}/favicons/favicon_light.ico`}
    sizes="32x32"
    media="(prefers-color-scheme: light)"
  />
  <link
    rel="icon"
    href={`${CONFIG.base}/favicons/favicon_light.svg`}
    type="image/svg+xml"
    media="(prefers-color-scheme: light)"
  />
  <link
    rel="apple-touch-icon"
    href={`${CONFIG.base}/favicons/favicon-180x180_light.png`}
    media="(prefers-color-scheme: light)"
  />
  <link
    rel="manifest"
    href={`${CONFIG.base}/favicons/manifest_light.webmanifest`}
    media="(prefers-color-scheme: light)"
  />

  <!-- Dark Icons -->
  <link
    rel="icon"
    href={`${CONFIG.base}/favicons/favicon_dark.ico`}
    sizes="32x32"
    media="(prefers-color-scheme: dark)"
  />
  <link
    rel="icon"
    href={`${CONFIG.base}/favicons/favicon_dark.svg`}
    type="image/svg+xml"
    media="(prefers-color-scheme: dark)"
  />
  <link
    rel="apple-touch-icon"
    href={`${CONFIG.base}/favicons/favicon-180x180_dark.png`}
    media="(prefers-color-scheme: dark)"
  />
  <link
    rel="manifest"
    href={`${CONFIG.base}/favicons/manifest_dark.webmanifest`}
    media="(prefers-color-scheme: dark)"
  />

  <!--  GoatCounter  -->
  <script
    data-goatcounter="https://dolf.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>

  <noscript>
    <img
      src="https://dolf.goatcounter.com/count?p=/test-noscript"
      alt="goatcounter pixel"
    />
  </noscript>

  <!--  RSS Feed  -->
  <!--  Sitemap  -->
</head>
